<layout name="base"/>
<div class="am-u-md-8 am-u-sm-12">
    <article class="am-article blog-article-p">
        <div class="am-article-hd">
            <h1 class="am-article-title blog-text-center">{$article.title}</h1>
            <p class="am-article-meta blog-text-center">
                <span><a href="{:U('Home/Index/category')}/id/{$article.cate_id}" class="blog-color">{$article.category_name} &nbsp;</a></span>-
                <span><a href="#">{$article.author} &nbsp;</a></span>-
                <span><a href="#">{$article.create_time|substr=0,10}</a></span>
            </p>
        </div>
        <div class="am-article-bd">
            {$content}
        </div>
    </article>

    <div class="am-g blog-article-widget blog-article-margin">
        <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
            <span class="am-icon-tags"> &nbsp;</span><a href="#">标签</a> , <a href="#">TAG</a> , <a href="#">啦啦</a>
            <hr>
            <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
            <a href=""><span class="am-icon-wechat am-icon-fw blog-icon"></span></a>
            <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
        </div>
    </div>

    <hr>
    <div class="am-g blog-author blog-article-margin">
        <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
            <img src="__PUBLIC__/admin/img/logob.png" alt="" class="blog-author-img am-circle">
        </div>
        <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
            <h3><span>作者 &nbsp;: &nbsp;</span><span class="blog-color">{$article.author}</span></h3>
            <p>渡目博客</p>
        </div>
    </div>
    <hr>
    <form class="am-form am-g">
        <fieldset>
            <div class="am-form-group am-u-sm-4 blog-clear-left">
                <input type="text" class="" placeholder="名字" name="name">
            </div>
            <div class="am-form-group am-u-sm-4">
                <input type="email" class="" placeholder="邮箱" name="email">
            </div>
            <div class="am-form-group">
                <textarea class="" rows="5" placeholder="一字千金" name="comment"></textarea>
            </div>

            <p><button type="submit" class="am-btn am-btn-default">发表评论</button></p>
        </fieldset>
    </form>
    <div class="am-g blog-article-widget blog-article-margin">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>评论</span></h2>
            <ul class="am-list">
                <foreach name="commentList" item="item">
                    <li>【{$item.name}:{$item.create_time|substr=0,10}】{$item.comment}</li>
                </foreach>
            </ul>
        </div>
    </div>
</div>