<layout name="base"/>
<div class="am-u-md-8 am-u-sm-12">
    <foreach name="articleList" item="item">
        <article class="am-g blog-entry-article">
            <div class="blog-entry-text">
                <span><a href="{:U('Home/Index/category')}/id/{$item.category_id}" class="blog-color">{$item.category_name}</a></span>
                <span> @{$item.author}</span>
                <span>{$item.create_time|substr=0,10}</span>
                <h1><a href="{:U('Home/Index/article')}/id/{$item.id}">{$item.title}</a></h1>
                <p>{$item.summary}</p>
                <p><a href="" class="blog-continue">continue reading</a></p>
            </div>
        </article>
    </foreach>
    <ul class="am-pagination">
        <li class="am-pagination-prev"><a href="{:U('Home/Index/index')}?page={$prev}">&laquo; 上一页</a></li>
        <li class="am-pagination-next"><a href="{:U('Home/Index/index')}?page={$next}">下一页 &raquo;</a></li>
    </ul>
</div>